@import 'defaults';


//****SMALL/MOBILE****\\
body {
  position: fixed;
  background-color: #ffedc8;
  border: solid 10px gold;
  min-height: 99%;
  min-width: 98%;
  #logo {
    max-height: 75%;
    max-width: 75%;
    img {
      max-height: 75%;
      max-width: 75%;
    }
  }
  #title {
    border-bottom: solid 10px black;
    position: fixed;
    margin: 1%;
    left: 47%;
    top: 2%;
    font-size: 5vh;
  }
  #subTitle {
    position: absolute;
    margin: 1%;
    left: 52%;
    top: 20%;
    font-size: 3vh;
  }
  #footer {
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: 50%;
    top: 93%;
    #copyright {
      font-size: 2vh;
      text-align: center;

    }
  }
  #depositFields {
    position: fixed;
    margin-top: -35%;
    margin-left: 40%;
    #depositValue {
      position: fixed;
      margin-left: 10%;
      font-size: 2vh;
    }
  }
  #infoBox {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    background-color: #ffffff;
    border: solid 5px red;
    margin: 10%;
    margin-top: 20%;
    font-size: 3vh;
  }
  #input {
    position: relative;
    top: 1%;
    padding: 1%;
    #withdraw {
      position: absolute;
      top: -60%;
      left: 90%;
      font-size: 2.5vh;
    }
    #deposit {
      position: absolute;
      top: -120%;
      left: 90%;
      font-size: 2.5vh;
    }
    input[type=radio] {
      width: 5vw;
      height: 5vh;
    }
    #transfer {
      position: absolute;
      top: -60%;
      right: 90%;
      font-size: 2.5vh;
    }
    #cancel {
      position: absolute;
      top: -120%;
      right: 90%;
      font-size: 2.5vh;
    }
    #button2 {
      margin-left: 35%;
      margin-right: 25%;
      font-size: 4vh;
    }
    #button {
      margin-left: 35%;
      margin-right: 25%;
      font-size: 4vh;
    }
    #name {
      margin: 2%;
      margin-left: 2%;
      font-size: 2vh;
    }
    #pin {
      font-size: 2vh;
    }
  }
}
//****MEDIUM****\\
@media all and (min-width: 500px) and (min-device-width: 500px) {
  body {
    position: fixed;
    background-color: #ffedc8;
    border: solid 10px green;
    min-height: 100%;
    min-width: 98%;
    #logo {
      max-height: 60%;
      max-width: 60%;
      img {
        max-height: 60%;
        max-width: 60%;
      }
    }
    #title {
      border-bottom: solid 10px black;
      position: fixed;
      margin: 1%;
      left: 37%;
      top: 2%;
      font-size: 5vh;
    }
    #subTitle {
      position: absolute;
      margin: 1%;
      left: 52%;
      top: 15%;
      font-size: 4vh;
    }
    #footer {
      position: fixed;
      width: 100%;
      margin-left: auto;
      margin-right: 50%;
      top: 93%;
      #copyright {
        font-size: 2vh;
        text-align: center;

      }
    }
    #depositFields {
      position: fixed;
      margin-top: -35%;
      margin-left: 40%;
      #depositValue {
        position: fixed;
        margin-left: 10%;
        font-size: 2vh;
      }
    }
    #infoBox {
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      background-color: #ffffff;
      border: solid 5px red;
      margin: 10%;
      margin-right: 25%;
      margin-left: 25%;
      margin-top: 10%;
      font-size: 4vh;
    }
    #input {
      position: relative;
      top: 1%;
      padding: 1%;
      #withdraw {
        position: absolute;
        top: -60%;
        left: 90%;
        font-size: 2.5vh;
      }
      #deposit {
        position: absolute;
        top: -120%;
        left: 90%;
        font-size: 2.5vh;
      }
      input[type=radio] {
        width: 5vw;
        height: 5vh;
      }
      #transfer {
        position: absolute;
        top: -110%;
        right: 80%;
        font-size: 4vh;
      }
      #cancel {
        position: absolute;
        top: -220%;
        right: 80%;
        font-size: 4vh;
      }
      #button2 {
        margin-left: 25%;
        margin-right: 25%;
        font-size: 4vh;
      }
      #button {
        position: fixed;
        margin-left: 40%;
        top: 70%;
        font-size: 4vh;
      }
      #name {
        margin: 2%;
        margin-left: 2%;
        font-size: 2vh;
      }
      #pin {
        font-size: 2vh;
      }
    }
  }
}

