html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: fixed;
  background-color: #ffedc8;
  border: solid 10px gold;
  min-height: 99%;
  min-width: 98%; }
  body #logo {
    max-height: 75%;
    max-width: 75%; }
    body #logo img {
      max-height: 75%;
      max-width: 75%; }
  body #title {
    border-bottom: solid 10px black;
    position: fixed;
    margin: 1%;
    left: 47%;
    top: 2%;
    font-size: 5vh; }
  body #subTitle {
    position: absolute;
    margin: 1%;
    left: 52%;
    top: 20%;
    font-size: 3vh; }
  body #footer {
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: 50%;
    top: 93%; }
    body #footer #copyright {
      font-size: 2vh;
      text-align: center; }
  body #depositFields {
    position: fixed;
    margin-top: -35%;
    margin-left: 40%; }
    body #depositFields #depositValue {
      position: fixed;
      margin-left: 10%;
      font-size: 2vh; }
  body #infoBox {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    background-color: #ffffff;
    border: solid 5px red;
    margin: 10%;
    margin-top: 20%;
    font-size: 3vh; }
  body #input {
    position: relative;
    top: 1%;
    padding: 1%; }
    body #input #withdraw {
      position: absolute;
      top: -60%;
      left: 90%;
      font-size: 2.5vh; }
    body #input #deposit {
      position: absolute;
      top: -120%;
      left: 90%;
      font-size: 2.5vh; }
    body #input input[type=radio] {
      width: 5vw;
      height: 5vh; }
    body #input #transfer {
      position: absolute;
      top: -60%;
      right: 90%;
      font-size: 2.5vh; }
    body #input #cancel {
      position: absolute;
      top: -120%;
      right: 90%;
      font-size: 2.5vh; }
    body #input #button2 {
      margin-left: 35%;
      margin-right: 25%;
      font-size: 4vh; }
    body #input #button {
      margin-left: 35%;
      margin-right: 25%;
      font-size: 4vh; }
    body #input #name {
      margin: 2%;
      margin-left: 2%;
      font-size: 2vh; }
    body #input #pin {
      font-size: 2vh; }

@media all and (min-width: 500px) and (min-device-width: 500px) {
  body {
    position: fixed;
    background-color: #ffedc8;
    border: solid 10px green;
    min-height: 100%;
    min-width: 98%; }
    body #logo {
      max-height: 60%;
      max-width: 60%; }
      body #logo img {
        max-height: 60%;
        max-width: 60%; }
    body #title {
      border-bottom: solid 10px black;
      position: fixed;
      margin: 1%;
      left: 37%;
      top: 2%;
      font-size: 5vh; }
    body #subTitle {
      position: absolute;
      margin: 1%;
      left: 52%;
      top: 15%;
      font-size: 4vh; }
    body #footer {
      position: fixed;
      width: 100%;
      margin-left: auto;
      margin-right: 50%;
      top: 93%; }
      body #footer #copyright {
        font-size: 2vh;
        text-align: center; }
    body #depositFields {
      position: fixed;
      margin-top: -35%;
      margin-left: 40%; }
      body #depositFields #depositValue {
        position: fixed;
        margin-left: 10%;
        font-size: 2vh; }
    body #infoBox {
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      background-color: #ffffff;
      border: solid 5px red;
      margin: 10%;
      margin-right: 25%;
      margin-left: 25%;
      margin-top: 10%;
      font-size: 4vh; }
    body #input {
      position: relative;
      top: 1%;
      padding: 1%; }
      body #input #withdraw {
        position: absolute;
        top: -60%;
        left: 90%;
        font-size: 2.5vh; }
      body #input #deposit {
        position: absolute;
        top: -120%;
        left: 90%;
        font-size: 2.5vh; }
      body #input input[type=radio] {
        width: 5vw;
        height: 5vh; }
      body #input #transfer {
        position: absolute;
        top: -110%;
        right: 80%;
        font-size: 4vh; }
      body #input #cancel {
        position: absolute;
        top: -220%;
        right: 80%;
        font-size: 4vh; }
      body #input #button2 {
        margin-left: 25%;
        margin-right: 25%;
        font-size: 4vh; }
      body #input #button {
        position: fixed;
        margin-left: 40%;
        top: 70%;
        font-size: 4vh; }
      body #input #name {
        margin: 2%;
        margin-left: 2%;
        font-size: 2vh; }
      body #input #pin {
        font-size: 2vh; } }

/*# sourceMappingURL=styles.css.map */
